$color-main:hsla(206, 23%, 83%, 1);
$color-sec:hsla(206, 23%, 6%, 1);
$color-orange:hsla(34, 80%, 55%, 1);
$color-gray:hsla(0, 2%, 37%, 1);
$color-milk:hsla(35, 84%, 85%, 1);
$color-orgSec:hsla(9, 98%, 39%, 1);
$color-login:hsla(9, 16%, 43%, 1);
