*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html{
  scroll-behavior: smooth;
}


body {
 
}


/* .dis_flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.f_flex{
  display: flex;
} */

